@model AdminUsersModel

<h3>Invites</h3>
<ul class="issues-list">
    @foreach (var user in Model.Users)
    {
        <li>
            @user.Name <span class="username">@@@user.Login</span> (
            @if (Context.UserCan("admin.users.setperms"))
            {
                <form asp-controller="AdminUsers" asp-action="SetPerms" asp-route-userid="@user.UserId" method="POST"
            enctype="application/x-www-form-urlencoded" style="display:inline">
                    r:<select name="roleId" required class="blueunderline">
                        @foreach (var role in Model.Roles.Values)
                        {
                            if (role.RoleId == user.RoleId)
                            {
                                <option value="@role.RoleId" selected>@role.Name</option>
                            }
                            else
                            {
                                <option value="@role.RoleId">@role.Name</option>
                            }
                        }
                    </select>,
                    p:<select name="planId" required class="blueunderline">
                        @foreach (var plan in Model.Plans.Values)
                        {
                            if (plan.PlanId == user.PlanId)
                            {
                                <option value="@plan.PlanId" selected>@plan.Name</option>
                            }
                            else
                            {
                                <option value="@plan.PlanId">@plan.Name</option>
                            }
                        }
                    </select>
                    <input type="submit" value="Set permissions">
                </form>
            }
            else
            {
                @: r:@Model.Roles[user.RoleId].Name,
                @: p:@Model.Plans[user.PlanId].Name
            }
            )
        </li>
    }
</ul>